@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-color: #aaa;
  --swiper-pagination-bullet-inactive-color: white;
  --swiper-pagination-bottom: 30px;
}

/* Disable text selection globally */
html,
body,
*,
*::before,
*::after {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Firefox */
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply bg-neutral-950 bg-noise;
}